<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeProject"
        tools:targetApi="31">
        <activity
            android:name=".basix.ModifierActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".effect_handlers.DisposableEffect"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basics.ListActivity" />
        <activity android:name=".basics.SnackbarActivity" />
        <activity android:name=".basics.StateActivity" />
        <activity android:name=".basics.StyleTextActivity" />
        <activity android:name=".basics.ImageCardActivity" />
        <activity android:name=".basics.ModifierActivity" />
        <activity android:name=".basics.ComposeActivity" />
        <activity android:name=".basics.MainActivity" />
        <activity android:name=".basics.ConstraintLayoutActivity" />
    </application>

</manifest>